<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Adicionar Clientes</title>
        <link rel="shortcut icon" href="/images/favicon_32x32.png">
        <link rel="stylesheet" href="<%= asset_path('application.css') %>"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
<body>
<%= form_tag '/clientes/adicionar_cliente', method: :post do %>
    <a href="/clientes/index">Voltar</a>
    <div>
        <h1>Cliente de qualidade VIP<h1>
    </div>

    <div class="field">
        <%= label_tag :Nome %><br>
        <%= text_field_tag :Nome, nil %>
    </div>

    <div class="field">
        <%= label_tag :CPF %><br>
        <%= number_field_tag :CPF, nil %>
    </div>

    <div class="field">
        <%= label_tag :Email %><br>
        <%= email_field_tag :Email, nil %>
    </div>

    <div class="field">
        <%= label_tag :Telefone %><br>
        <%= telephone_field_tag :Telefone, nil %>
    </div>

    <div class="field">
        <%= label_tag :Endereco %><br>
        <%= text_field_tag :Endereco, nil %>
    </div>

    <div class="actions">
        <%= submit_tag 'Adicionar Clientes+' %>
    </div>

    <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <img src="<%= asset_path('logo.png') %>"/>

<% end %>
