<div id="<%= dom_id admin %>">
  <p>
    <strong>Nome:</strong>
    <%= admin.Nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.Email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= admin.Senha %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= admin.CPF %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= admin.Codigo %>
  </p>

</div>
