<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Veiculo</title>
    <link rel="shortcut icon" href="/images/favicon_32x32.png">
    <link rel="stylesheet" href="<%= asset_path('application.css') %>"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <div class="row">
            <div class="col">
                <a href="/">Voltar</a>
            </div>
        </div>
        <div class="row">
            <div class="col test">
                <%= form_with(model: veiculo) do |form| %>
                    <div class="field-c">
                        <%= form.label :Placa %>
                        <%= form.text_field :Placa, placeholder: "Placa do Veiculo" %>
                    </div>

                    <div class="field-c">
                        <%= form.label :Ano %>
                        <%= form.date_field :Ano, placeholder: "Ano do Veiculo" %>
                    </div>

                    <div class="field-c">
                        <%= form.label :Modelo %>
                        <%= form.text_field :Modelo, placeholder: "Modelo do Veiculo" %>
                    </div>

                    <div class="field-color-cliente">
                        <%= form.color_field :Cor, placeholder: "Cor do Veiculo" %>
                        <%= form.select :Clientes_idClientes, options_for_select(Cliente.all.map { |cliente| [cliente.Nome, cliente.idClientes] }), { prompt: "Selecione um cliente" }, { class: "form-control" } %>
                    </div>

                    <div class="field-add-cliente">
                        <p>Não encontrou o cliente? </p>
                        <%= link_to "Adicionar Cliente+", clientes_index_path %>
                    </div>

                    <div class="actions">
                        <%= form.submit 'Confirmar' %>
                    </div>

                    <% if flash[:notice] %>
                        <p class="notice"><%= flash[:notice] %></p>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>