<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="shortcut icon" href="/images/favicon_32x32.png">
    <link rel="stylesheet" href="<%= asset_path('application.css') %>"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
<body>
  <div class="container">
    <p>Hey</p>
    <h1>Bem Vindo De Volta</h1>
  </div>

  <%= form_tag login_login_path do %>
  <div class="container-login">
    <div class="field">
      <%= text_field_tag :email, params[:email], required: true, placeholder: "Email" %>
    </div>

    <div class="field">
      <%= password_field_tag :password, nil, required: true, placeholder: "Senha" %>
    </div>

    <div class="field-link">
      <a href="/login/esqueceu_senha">Esqueceu sua senha</a>
    </div>

  <% if flash[:notice] %>
    <p class="notice-login"><%= flash[:notice] %></p>
    <script>
      setTimeout(function() {
        document.querySelector('.notice-login').style.display = 'none';
      }, 3000);
    </script>
  <% end %>

    <div class="actions">
      <%= submit_tag 'Entrar' %>
    </div>

    <div class="div-logo">
      <img src="<%= asset_path('logo.png') %>" alt="Logo da marca AutoMecanica VIP"/>
      <p>Reparos de Elite, Atendimento Vip.</p>
    </div>
  </div>
  <% end %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
